.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url("https://media.giphy.com/media/aptHpDpJ0nr8Y/giphy.gif");
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
  letter-spacing: 20px;
  opacity: 0.8;
}

.App-intro {
  font-size: xx-large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
